<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcxy.tces.mapper.StudentMapper">

    <!--课程嵌套教师映射-->
    <resultMap id="courseNestedTeachMap" type="com.gcxy.tces.entity.Course">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <collection property="userList" ofType="com.gcxy.tces.entity.User" javaType="list">
            <id property="userId" column="user_id"/>
            <result property="userSex" column="user_sex"/>
            <result property="userName" column="user_name"/>
        </collection>
    </resultMap>

    <!--&lt;!&ndash;根据班级id查询课程信息嵌套教师信息&ndash;&gt;-->
    <!--<select id="selectCoursesByCid" resultMap="courseNestedTeachMap">-->
        <!--select *-->
        <!--from user_course uc, course c, user u-->
        <!--where uc.user_ID = u.user_ID and c.Course_ID = uc.Course_ID-->
              <!--and c.Course_ID = #{cid}-->
    <!--</select>-->

    <!--&lt;!&ndash;根据学生id查询所在班级id&ndash;&gt;-->
    <!--<select id="selectCidBySid" resultType="com.gcxy.tces.entity.Course">-->
        <!--select c.Course_ID as courseId-->
        <!--from user_course uc, course c-->
        <!--where uc.Course_ID = c.Course_ID and uc.user_ID = #{sid}-->
    <!--</select>-->
</mapper>