<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcxy.tces.mapper.StudentMapper">

    <!--课程嵌套教师映射-->
    <resultMap id="courseNestedTeachMap" type="com.gcxy.tces.entity.Course">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <collection property="userList" ofType="com.gcxy.tces.entity.User" javaType="list">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
        </collection>
    </resultMap>

    <!--根据班级id查询课程和教师-->
    <select id="selectCourseTeacher" resultMap="courseNestedTeachMap">
        select *
        from user_course_clazz ucc join user u on ucc.user_id = u.user_ID
            join course c on ucc.user_id = c.Course_ID
        where ucc.clazz_id = #{cid}
    </select>

    <select id="selectClazzIdByUid" resultType="com.gcxy.tces.entity.Clazz">
        SELECT Clazz_ID clazzId
        from user_course_clazz
        where user_id = #{uid}
    </select>
</mapper>