<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcxy.tces.mapper.TeacherMapper">

    <!--教师映射-->
    <resultMap id="teacherMap" type="com.gcxy.tces.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="userCode" column="user_code"/>
    </resultMap>

    <!--教师嵌套班级映射-->
    <resultMap id="teacherNestedClazzMap" type="com.gcxy.tces.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="userCode" column="user_code"/>
        <collection property="clazzList" ofType="com.gcxy.tces.entity.Clazz" javaType="list">
            <id property="clazzId" column="clazz_id"/>
            <result property="clazzName" column="clazz_name"/>
        </collection>
    </resultMap>

    <!--查询未选择该课的老师-->
    <select id="selectTeacher" resultMap="teacherMap">
        select u.user_name, u.user_id
        from user u left join user_course_clazz ucc on u.user_ID = ucc.user_id
        where u.user_type = 1 and (ucc.course_Id != #{course_Id} or ucc.course_Id is null)
    </select>

    <!--插入教师与课程的关联关系-->
    <insert id="insertTeacherCourse">
        insert into user_course_clazz(user_id, course_id) values(#{teacherId}, #{courseId})
    </insert>

</mapper>